<p>
  <b>Woeid:</b>
  <%=h @location.woeid %>
</p>

<p>
  <b>Name:</b>
  <%=h @location.name %>
</p>

<p>
  <b>Country:</b>
  <%=h @location.country %>
</p>

<p>
  <b>Lat:</b>
  <%=h @location.lat %>
</p>

<p>
  <b>Lon:</b>
  <%=h @location.lon %>
</p>

<p>
  <%= link_to "Check weather", :action => 'update_weather', :id => @location.id %>
</p>

<h2>Weather readings</h2>
<%= render :partial => "weather_readings/list", :locals => { :weather_readings => @location.weather_readings } %>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>